/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

p {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}

a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #00AAB6;
}

h1 {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 3.75rem;
  color: #00AAB6;
  font-weight: 700;
  text-shadow: #008493 0px 0px 10px;
}

/* ----------------SCROLLBAR----------------------------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #00AAB6;
}

::-webkit-scrollbar-track {
  background: #00151F
}

/* For Firefox */
::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-thumb {
  background-color: #008493;
}

::-moz-scrollbar-track {
  background-color: #00151F;
}

/* ----------------------HERO---------------------------- */

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #00151F;
  background-image: url('assets/images/background.jpg');
  background-size: auto;
  background-attachment: fixed;
}


video {
  height: 200vh;
  width: 100vw;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.2;
}

/*---------------------- NAVBAR ------------------------- */

.navBar {
  position: fixed;
  width: 100vw;
  font-size: 20px;
  height: 10vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.25rem 0rem 1.25rem 0rem;
  z-index: 999;
}

.scrollY {
  background-image: url('assets/images/background2.webp');
  background-size: 50vw 100vh;
}

.mobile-toggle-button {
  display: none;
}


.logoImage {
  height: 6rem;
  width: 12rem;
  background-image: url('assets/images/LOGO23.png');
  background-size: cover;
  margin-right: 20rem;
}

.links {
  padding-left: 3rem;
}

.links a:first-child {
  padding-left: 0;
}

.links a {
  margin-left: 3rem;
  font-size: 1.25rem;
}

.links a:hover {
  text-shadow: #00AAB6 0px 0px 5px;
}

/* --------------------------TITLES-------------------- */

.mainTitles {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  width: 100vw;
}

.mainTitles h1 {
  text-shadow: #00AAB6 2px 2px 20px;
  width: 100vw;
}

.mainTitles p {
  text-shadow: #00AAB6 1px 1px 5px;
  color: #00AAB6;
  text-align: center;
  width: 100vw;
  font-weight: 400;
}

.mainTitles :nth-child(3) {
  margin-top: 10px;
}

.mainTitles div {
  width: 100vw;
  margin-top: 20px;
}

.mainTitles button {
  background-color: #008493;
  border: 13px solid #008493;
  width: 25rem;
}

.mainTitles button :hover {
  color: #fff;
}

.mainTitles a {
  font-size: 25px;
  color: #00151F;
}



/* -------------- ABOUT --------------------- */

.about {
  position: relative;
  background-color: #00151F;
  padding-top: 0vh;
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.aboutTitle {
  font-size: 45px;
  padding-top: 6rem;
}

.aboutSection {
  position: relative;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoCard {
  text-align: center;
  height: 8.125rem;
}


.infoCard i {
  color: #00AAB6;
  font-size: 6.875rem;
  height: 6.25rem;
  text-shadow: #008493 0px 0px 20px;
}

.infoCard h2 {
  font-size: 1.563rem;
  color: #00AAB6;
}

.infoCard p {
  font-size: 20px;
  width: 315px;
  text-align: center;
  color: #00AAB6;
  margin-top: 20px;
}

/* --------- EVENTS ----------- */
.eventsSection {
  height: 90vh;
  width: 100vw;
  background-color: #00151F;
  text-align: center;
  padding-top: 10vh;
}

.eventsSection h1 {
  color: #00AAB6;
  font-size: 45px;
}

.slick-slide {
  opacity: 0.5;
}

.slick-center {
  opacity: 1;
}

.slick-arrow {
  height: 5rem;
  width: 17rem;
}

.slick-prev::before {
  color: #00AAB6;
  font-size: 3rem;
  z-index: 9999;
}

.slick-next:before {
  color: #00AAB6;
  font-size: 2.5rem;
  right: 0;
}

.slick-dots li button:before {
  opacity: .75;
  color: #00AAB6;
  font-size: 3rem;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #008493;
}

.slick-dots li button::before {
  opacity: 0.75;
  color: #00AAB6;
  font-size: 0.6rem;
}

.eventCard {
  height: 18rem;
  width: 18rem;
  margin: 2.3rem auto;
  padding: 1rem;
  opacity: 1;
  background-size: 20rem 20rem;
  border: 0.5px solid #00AAB6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventCard p {
  color: #00AAB6;
  margin-bottom: 1rem;
}

.eventCard p:nth-child(1) {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 0.5rem;
}

.eventCard p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-style: oblique;
}

.eventCard p:nth-child(3) {
  font-weight: 300;
  font-size: 21px;
}

.eventCard p:nth-child(4) {
  font-weight: 500;
  font-size: 20px;
}


.eventInfo {
  margin: 1rem auto;
  margin-bottom: 2rem;
  background-color: transparent;
  color: #008493;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventInfo p:hover {
  background-color: #008493;
  color: #00151F;
}

.eventInfo p {
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border: 2px solid #00AAB6;
}

/* --------------MODAL-------------------- */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal {
  z-index: 999;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

/*------------ EXECOM -------------------- */
.exSection {
  height: 270vh;
  width: 100vw;
  background-color: #00151F;
  text-align: center;
  padding-top: 10vh;
}

.exSection h1 {
  color: #00AAB6;
  font-size: 45px;
}

.exCard {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.memberCard {
  height: 19rem;
  width: 14rem;
  background-color: #00151F;
  border-radius: 1rem;
  border: 1px solid #00AAB6;
  margin: 1.5rem 1.5rem;
}

.memberPhoto {
  background-color: grey;
  background-size: 12.5rem 12rem;
  height: 10rem;
  width: 12rem;
  border-radius: 1rem;
  margin: 1rem auto;
}

.memberCard p {
  color: #00AAB6;

}

.memName {
  font-weight: 300;
  font-size: 1.063rem;
  margin-bottom: 0.25rem;
}

.memDes {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.memberCard .fa-linkedin {
  font-size: 1.875rem;
  text-shadow: #008493 1px 1px 5px;
}

.memberCard .fa-linkedin:hover {
  color: white;
}

/* ---------------GALLERY---------------- */
.gallerySection {
  height: 90vh;
  width: 100vw;
  background-color: #00151F;
  text-align: center;
  padding-top: 50vh;
}

.gallerySection h1 {
  color: #00AAB6;
  font-size: 45px;
}

.galleryElement {
  height: 24rem;
  width: 28rem;
  margin: 2rem auto;
  background-size: 29rem 25rem;
  border-radius: 1rem;
  border: 1px solid #00AAB6;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallerySection .slick-slide {
  opacity: 1;
}

.gallerySection .slick-next:before {
  display: none;
}

.gallerySection .slick-prev:before {
  display: none;
}

/* -------- FOOTER --------------------- */
footer {
  background-color: #00151F;
  text-align: center;
  width: 100vw;
}

footer h1 {
  color: #00AAB6;
  font-size: 40px;
}

.upper-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
}



.footer-column {
  width: 20rem;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
}

.footer-image {
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-image img {
  width: 6rem;
  margin: 0rem auto;
  margin-bottom: 1.5rem;
}


.footer-column h1 {
  font-size: 17px;
  width: 19rem;
  color: #00AAB6;
  text-align: center;
  font-weight: 400;
}

#acm-footer-logo {
  width: 150px;
  margin-bottom: 1rem;
}

.footer-column h2 {
  color: white;
  font-size: 20px;
}

.footer-column h3 {
  color: white;
  font-size: 15px;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.footer-logo-text h1 {
  font-size: 14px;
  margin-bottom: 2px;
}

.footer-logo-text h1:nth-child(2) {
  font-size: 12px;
}

.acm h1 {
  margin-top: 2px;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.socials h1 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
}

.socials i {
  color: #00AAB6;
  font-size: 40px;
  text-shadow: #008493 0px 0px 20px;
  margin: 0 1rem;
}

.fa-linkedin:hover {
  color: rgb(11, 102, 195);
}

.fa-instagram:hover {
  color: #cc2366;
}


#copyright {
  height: 7rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#copyright span {
  color: #008493;
  margin-bottom: 5px;
}

/*------------- MOBILE S RESPONSIVE --------  */
@media only screen and (min-width: 250px) and (max-width: 360px) {

  body {
    width: 100vw;
  }

  /* Hero Section */

  .logo {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: #00151F;
  }

  .logoImage {
    height: 4rem;
    width: 8rem;
    margin: 0;
  }

  .mobile-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 1rem 0 0rem;
    border: 3px solid #008493;
    border-radius: 3px;
  }

  .mobile-toggle-button i {
    color: #00AAB6;
    font-size: 25px;
  }

  .clicked {
    background-color: #fff;
  }

  .navBar {
    position: relative;
    font-size: 20px;
    height: 5rem;
    display: flex;
    flex-flow: row none;
    text-align: center;
    padding: 0px;
  }

  .scrollY {
    background-image: none;
    background-size: 0;
  }

  .headroom-wrapper {
    height: 200px;
  }

  .links {
    position: absolute;
    width: 100vw;
    padding: 0px 0px 20px 0px;
    margin: 0;
    top: 5.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: hsl(0 0% 50% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateY(-170%);
    transition: transform 350ms ease-out;
  }

  .links[data-visible="true"] {
    transform: translateY(0%);
  }

  .links a {
    padding: 20px 0px 0 0;
    font-size: 20px;
    margin: 0;
  }

  .hero {
    height: 100vh;
    background-size: cover;
  }

  .headroom {
    z-index: 9999;
  }

  .mainTitles {
    margin: 0 0 0 0;
    height: 40vh;
    text-align: center;
    width: 100vw;
  }

  .mainTitles h1 {
    font-size: 40px;
  }

  .mainTitles p {
    font-size: 20px;
  }

  .mainTitles button {
    width: 300px;
  }

  .mainTitles a {
    font-size: 20px;
  }

  /* About Section */
  .about {
    height: 170vh;
    padding-top: 5vh;
    position: relative;
  }

  .aboutSection {
    flex-flow: column;
    height: 65rem;
  }

  .infoCard {
    text-align: center;
    height: 21.125rem;
  }

  /* Events Section */
  .eventsSection {
    width: 100vw;
    height: 80vh;
    padding-top: 18vh;
  }

  .eventCard {
    height: 17rem;
    width: 17rem;
    margin: 2rem auto;
    background-size: 19rem 19rem;
  }

  .slick-arrow {
    height: 1rem;
    width: 1rem;
    right: 0;
  }



  .slick-next:before,
  .slick-prev:before {
    display: none;
  }

  /* Execom section */

  .exSection {
    height: 550vh;
    max-height: 800vh;
    padding-top: 2rem;
  }

  .memberCard {
    height: 17rem;
    width: 9rem;
    background-color: #00151F;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    margin: 0.5rem 0.2rem;
    padding: 0.25rem;
  }

  .memberPhoto {
    background-color: grey;
    background-size: 8rem 8rem;
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    margin: 1rem auto;
  }

  .memberCard p {
    color: #00AAB6;
  }

  .memName {
    font-size: 15px;
    margin-bottom: 0.25rem;
  }

  .memDes {
    font-size: 13px;
  }

  .fa-linkedin {
    font-size: 25px;
  }

  /* Gallery Section */
  .gallerySection {
    height: 70vh;
    padding-top: 0rem;
  }

  .galleryElement {
    height: 17rem;
    width: 21rem;
    margin: 5rem auto;
    background-size: 27rem 18rem;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Footer section */
  footer {
    height: 95vh;
    padding-top: 5vh;
  }

  .upper-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 0 0;
  }

  .footer-column {
    margin: 1rem 0;
  }

  .footer-column img {
    width: 6rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }

  .footer-column h1 {
    font-size: 16px;
    width: 19rem;
    color: #00AAB6;
    text-align: center;
    font-weight: 400;
  }

  #acm-footer-logo {
    width: 130px;
  }

  .socials h1 {
    font-size: 20px;
  }

  .socials i {
    font-size: 35px;
  }

  #copyright {
    margin-top: 10px;
  }

  #copyright span {
    color: #00AAB6;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100vw;
    text-shadow: #008493 0px 0px 10px;
  }
}

/* ------- MOBILE M RESPONSIVE ----------- */


@media only screen and (min-width: 360px) and (max-width: 480px) {

  body {
    width: 100vw;
  }

  /* Hero Section */

  .logo {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: #00151F;
  }

  .logoImage {
    height: 4rem;
    width: 8rem;
    margin: 0;
  }

  .mobile-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 1rem 0 0rem;
    border: 3px solid #008493;
    border-radius: 3px;
  }

  .mobile-toggle-button i {
    color: #00AAB6;
    font-size: 25px;
  }

  .clicked {
    background-color: #fff;
  }

  .navBar {
    position: relative;
    font-size: 20px;
    height: 5rem;
    display: flex;
    flex-flow: row none;
    text-align: center;
    padding: 0px;
  }

  .scrollY {
    background-image: none;
    background-size: 0;
  }

  .headroom-wrapper {
    height: 200px;
  }

  .links {
    position: absolute;
    width: 100vw;
    padding: 0px 0px 20px 0px;
    margin: 0;
    top: 5.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: hsl(0 0% 50% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateY(-170%);
    transition: transform 350ms ease-out;
  }

  .links[data-visible="true"] {
    transform: translateY(0%);
  }

  .links a {
    padding: 20px 0px 0 0;
    font-size: 20px;
    margin: 0;
  }

  .hero {
    height: 100vh;
    background-size: cover;
  }

  .headroom {
    z-index: 9999;
  }

  .mainTitles {
    margin: 0 0 0 0;
    height: 40vh;
    text-align: center;
    width: 100vw;
  }

  .mainTitles h1 {
    font-size: 40px;
  }

  .mainTitles p {
    font-size: 20px;
  }

  .mainTitles button {
    width: 300px;
  }

  .mainTitles a {
    font-size: 20px;
  }

  /* About Section */
  .about {
    height: 170vh;
    padding-top: 5vh;
    position: relative;
  }

  .aboutSection {
    flex-flow: column;
    height: 65rem;
  }

  .infoCard {
    text-align: center;
    height: 21.125rem;
  }

  /* Events Section */
  .eventsSection {
    width: 100vw;
    height: 80vh;
    padding-top: 18vh;
  }

  .eventCard {
    height: 17rem;
    width: 17rem;
    margin: 2rem auto;
    background-size: 19rem 19rem;
  }

  .slick-arrow {
    height: 1rem;
    width: 1rem;
    right: 0;
  }



  .slick-next:before,
  .slick-prev:before {
    display: none;
  }

  /* Execom section */

  .exSection {
    height: 500vh;
    padding-top: 2rem;
  }

  .memberCard {
    height: 16rem;
    width: 9.5rem;
    background-color: #00151F;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    margin: 0.5rem 0.75rem;
    padding: 0.25rem;
  }

  .memberPhoto {
    background-color: grey;
    background-size: 8rem 8rem;
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    margin: 1rem auto;
  }

  .memberCard p {
    color: #00AAB6;
  }

  .memName {
    font-size: 15px;
    margin-bottom: 0.25rem;
  }

  .memDes {
    font-size: 13px;
  }

  .fa-linkedin {
    font-size: 25px;
  }

  /* Gallery Section */
  .gallerySection {
    height: 70vh;
    padding-top: 0rem;
  }

  .galleryElement {
    height: 17rem;
    width: 21rem;
    margin: 5rem auto;
    background-size: 27rem 18rem;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Footer section */
  footer {
    height: 95vh;
    padding-top: 5vh;
  }

  .upper-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 0 0;
  }

  .footer-column {
    margin: 1rem 0;
  }

  .footer-column img {
    width: 6rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }

  .footer-column h1 {
    font-size: 16px;
    width: 19rem;
    color: #00AAB6;
    text-align: center;
    font-weight: 400;
  }

  #acm-footer-logo {
    width: 130px;
  }

  .socials h1 {
    font-size: 20px;
  }

  .socials i {
    font-size: 35px;
  }

  #copyright {
    margin-top: 10px;
  }

  #copyright span {
    color: #00AAB6;
    font-size: 14px;
    margin-bottom: 10px;
    width: 23rem;
    text-shadow: #008493 0px 0px 10px;
  }
}

/* ------------------MOBILE L ---------------  */
@media only screen and (min-width: 480px) and (max-width: 725px) {

  body {
    width: 100vw;
  }

  /* Hero Section */

  .logo {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: #00151F;
  }

  .logoImage {
    height: 4rem;
    width: 8rem;
    margin: 0;
  }

  .mobile-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 1rem 0 0rem;
    border: 3px solid #008493;
    border-radius: 3px;
  }

  .mobile-toggle-button i {
    color: #00AAB6;
    font-size: 25px;
  }

  .clicked {
    background-color: #fff;
  }

  .navBar {
    position: relative;
    font-size: 20px;
    height: 5rem;
    display: flex;
    flex-flow: row none;
    text-align: center;
    padding: 0px;
  }

  .scrollY {
    background-image: none;
    background-size: 0;
  }

  .headroom-wrapper {
    height: 200px;
  }

  .links {
    position: absolute;
    width: 100vw;
    padding: 0px 0px 20px 0px;
    margin: 0;
    top: 5.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: hsl(0 0% 50% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateY(-170%);
    transition: transform 350ms ease-out;
  }

  .links[data-visible="true"] {
    transform: translateY(0%);
  }

  .links a {
    padding: 20px 0px 0 0;
    font-size: 20px;
    margin: 0;
  }

  .hero {
    height: 100vh;
    background-size: cover;
  }

  .headroom {
    z-index: 9999;
  }

  .mainTitles {
    margin: 0 0 0 0;
    height: 40vh;
    text-align: center;
    width: 100vw;
  }

  .mainTitles h1 {
    font-size: 40px;
  }

  .mainTitles p {
    font-size: 20px;
  }

  .mainTitles button {
    width: 300px;
  }

  .mainTitles a {
    font-size: 20px;
  }

  /* About Section */
  .about {
    height: 170vh;
    padding-top: 5vh;
    position: relative;
  }

  .aboutSection {
    flex-flow: column;
    height: 65rem;
  }

  .infoCard {
    text-align: center;
    height: 21.125rem;
  }

  /* Events Section */
  .eventsSection {
    width: 100vw;
    height: 80vh;
    padding-top: 18vh;
  }

  .eventCard {
    height: 17rem;
    width: 17rem;
    margin: 2rem auto;
    background-size: 19rem 19rem;
  }


  .slick-prev::before,
  .slick-next:before {
    color: #00AAB6;
    font-size: 3rem;
    z-index: 9999;
    display: none;
  }

  /* Execom section */

  .exSection {
    height: 550vh;
    padding-top: 2rem;
  }

  .memberCard {
    height: 19rem;
    width: 14rem;
    background-color: #00151F;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    margin: 0.5rem 0.5rem;
  }

  .memberPhoto {
    background-color: grey;
    background-size: 12.5rem 12rem;
    height: 10rem;
    width: 12rem;
    border-radius: 1rem;
    margin: 1rem auto;
  }

  .memberCard p {
    color: #00AAB6;

  }

  .memName {
    font-weight: 300;
    font-size: 1.063rem;
    margin-bottom: 0.25rem;
  }

  .memDes {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  .memberCard .fa-linkedin {
    font-size: 1.875rem;
    text-shadow: #008493 1px 1px 5px;
  }

  .memberCard .fa-linkedin:hover {
    color: white;
  }


  /* Gallery Section */
  .gallerySection {
    height: 70vh;
    padding-top: 0rem;
  }

  .galleryElement {
    height: 17rem;
    width: 21rem;
    margin: 5rem auto;
    background-size: 27rem 18rem;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Footer section */
  footer {
    height: 95vh;
    padding-top: 5vh;
  }

  .upper-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 0 0;
  }

  .footer-column {
    margin: 1rem 0;
  }

  .footer-column img {
    width: 6rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }

  .footer-column h1 {
    font-size: 16px;
    width: 19rem;
    color: #00AAB6;
    text-align: center;
    font-weight: 400;
  }

  #acm-footer-logo {
    width: 130px;
  }

  .socials h1 {
    font-size: 20px;
  }

  .socials i {
    font-size: 35px;
  }

  #copyright {
    margin-top: 10px;
  }

  #copyright span {
    color: #00AAB6;
    font-size: 14px;
    margin-bottom: 10px;
    width: 23rem;
    text-shadow: #008493 0px 0px 10px;
  }
}

/* ----------------TABLET--------------------- */
@media only screen and (min-width: 726px) and (max-width: 768px) {

  body {
    width: 100vw;
  }

  /* Hero Section */

  .logo {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 9999;
    background-color: #00151F;
  }

  .logoImage {
    height: 4rem;
    width: 8rem;
    margin: 0;
  }

  .mobile-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0rem 1rem 0 0rem;
    border: 3px solid #008493;
    border-radius: 3px;
  }

  .mobile-toggle-button i {
    color: #00AAB6;
    font-size: 25px;
  }

  .clicked {
    background-color: #fff;
  }

  .navBar {
    position: relative;
    font-size: 20px;
    height: 5rem;
    display: flex;
    flex-flow: row none;
    text-align: center;
    padding: 0px;
  }

  .scrollY {
    background-image: none;
    background-size: 0;
  }

  .headroom-wrapper {
    height: 200px;
  }

  .links {
    position: absolute;
    width: 100vw;
    padding: 0px 0px 20px 0px;
    margin: 0;
    top: 5.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: hsl(0 0% 50% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateY(-170%);
    transition: transform 350ms ease-out;
  }

  .links[data-visible="true"] {
    transform: translateY(0%);
  }

  .links a {
    padding: 20px 0px 0 0;
    font-size: 20px;
    margin: 0;
  }

  .hero {
    height: 100vh;
    background-size: cover;
  }

  .headroom {
    z-index: 9999;
  }

  .mainTitles {
    margin: 0 0 0 0;
    height: 40vh;
    text-align: center;
    width: 100vw;
  }

  .mainTitles h1 {
    font-size: 40px;
  }

  .mainTitles p {
    font-size: 20px;
  }

  .mainTitles button {
    width: 300px;
  }

  .mainTitles a {
    font-size: 20px;
  }

  /* About Section */
  .about {
    height: 170vh;
    padding-top: 5vh;
    position: relative;
  }

  .aboutSection {
    flex-flow: column;
    height: 65rem;
  }

  .infoCard {
    text-align: center;
    height: 21.125rem;
  }

  /* Events Section */
  .eventsSection {
    width: 100vw;
    height: 80vh;
    padding-top: 18vh;
  }

  .eventCard {
    height: 17rem;
    width: 17rem;
    margin: 2rem auto;
    background-size: 19rem 19rem;
  }

  .slick-arrow {
    height: 1rem;
    width: 1rem;
    right: 0;
  }

  .slick-slide {
    opacity: 0.5;
  }

  .slick-center {
    opacity: 1;
  }

  .slick-arrow {
    height: 5rem;
    width: 17rem;
  }

  .slick-prev::before {
    color: #00AAB6;
    font-size: 3rem;
    z-index: 9999;
  }

  .slick-next:before {
    color: #00AAB6;
    font-size: 2.5rem;
    right: 0;
  }

  /* Execom section */

  .exSection {
    height: 500vh;
    padding-top: 2rem;
  }

  .memberCard {
    height: 19rem;
    width: 14rem;
    background-color: #00151F;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    margin: 0.5rem 0.5rem;
  }

  .memberPhoto {
    background-color: grey;
    background-size: 12.5rem 12rem;
    height: 10rem;
    width: 12rem;
    border-radius: 1rem;
    margin: 1rem auto;
  }

  .memberCard p {
    color: #00AAB6;

  }

  .memName {
    font-weight: 300;
    font-size: 1.063rem;
    margin-bottom: 0.25rem;
  }

  .memDes {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  .memberCard .fa-linkedin {
    font-size: 1.875rem;
    text-shadow: #008493 1px 1px 5px;
  }

  .memberCard .fa-linkedin:hover {
    color: white;
  }


  /* Gallery Section */
  .gallerySection {
    height: 70vh;
    padding-top: 0rem;
  }

  .galleryElement {
    height: 17rem;
    width: 21rem;
    margin: 5rem auto;
    background-size: 27rem 18rem;
    border-radius: 1rem;
    border: 1px solid #00AAB6;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Footer section */
  footer {
    height: 95vh;
    padding-top: 5vh;
  }

  .upper-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 0 0;
  }

  .footer-column {
    margin: 1rem 0;
  }

  .footer-column img {
    width: 6rem;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }

  .footer-column h1 {
    font-size: 16px;
    width: 19rem;
    color: #00AAB6;
    text-align: center;
    font-weight: 400;
  }

  #acm-footer-logo {
    width: 130px;
  }

  .socials h1 {
    font-size: 20px;
  }

  .socials i {
    font-size: 35px;
  }

  #copyright {
    margin-top: 10px;
  }

  #copyright span {
    color: #00AAB6;
    font-size: 14px;
    margin-bottom: 10px;
    width: 23rem;
    text-shadow: #008493 0px 0px 10px;
  }
}

/* -----------------LAPTOP S --------------- */
@media only screen and (min-width: 1024px) and (max-width:1440px) {
  .links {
    padding-left: 0rem;
  }

  .navBar {
    justify-content: space-around;
  }

  .logoImage {
    height: 4rem;
    width: 8rem;
    background-image: url('assets/images/LOGO23.png');
    background-size: cover;
  }

  .memberCard {
    margin: 1rem 0.5rem;
  }

  .gallerySection .slick-next:before {
    display: block;
  }

  .gallerySection .slick-prev:before {
    display: block;
  }


}

/* -------------- 4K ---------------- */

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2.5rem;
  }

  .hero {
    height: 100vh;
    width: 100vw;
    background-color: #00151F;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-attachment: scroll;
  }

  .mainTitles {
    height: 60vh;
  }

  .mainTitles button {
    width: 38rem;
    border: 15px solid #008493;
  }

  .mainTitles a {
    font-size: 2.25rem;
    color: #00151F;
  }

  .logoImage {
    height: 8rem;
    width: 16rem;
    background-image: url('assets/images/LOGO23.png');
    background-size: cover;
  }

  .links a {
    margin-left: 6rem;
    font-size: 2rem;
  }

  .about {
    height: 70vh;
  }

  .aboutTitle {
    font-size: 4rem;
  }

  .infoCard i {
    color: #00AAB6;
    font-size: 10rem;
    height: 9rem;
  }

  .infoCard h2 {
    font-size: 2.5rem;
  }

  .infoCard p {
    font-size: 2rem;
    width: 27rem;
  }

  .eventCard {
    height: 30rem;
    width: 30rem;
    background-size: 32rem 32rem;
    border: 1.5px solid #00AAB6;
    border-radius: 15px;
  }

  .eventsSection h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .eventInfo p {
    font-size: 30px;
    padding: 1rem 2rem;
    border: 2px solid #00AAB6;
    margin-top: 1rem;
  }

  .slick-prev::before {
    font-size: 4rem;
  }

  .slick-next:before {
    color: #00AAB6;
    font-size: 4rem;
    right: 0;
  }

  .slick-dots li button:before {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .eventCard p:nth-child(1) {
    font-size: 40px;
  }

  .eventCard p:nth-child(2) {
    font-size: 34px;
    margin-bottom: 1.5rem;
  }

  .eventCard p:nth-child(3) {
    font-size: 36px;
  }

  .eventCard p:nth-child(4) {
    font-size: 35px;
  }

  .exCard {
    height: 200vh;
  }

  .exSection {
    height: 260vh;
  }

  .exSection h1 {
    font-size: 4rem;
  }

  .exCard {
    height: 90vh;
  }

  .memberCard {
    height: 29rem;
    width: 23rem;
    border-radius: 1.5rem;
    border: 1.5px solid #00AAB6;
  }

  .memberPhoto {
    background-size: 19.5rem 19rem;
    height: 17rem;
    width: 19rem;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
  }

  .memName {
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
  }

  .memDes {
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  .memberCard .fa-linkedin {
    font-size: 2.75rem;
  }

  .gallerySection {
    height: 90vh;
    padding-top: 10vh;
  }

  .gallerySection h1 {
    font-size: 4rem;
  }

  .galleryElement {
    height: 36rem;
    width: 40rem;
    margin: 4rem auto;
    background-size: 46rem 36rem;
    border-radius: 1.5rem;
    border: 2px solid #00AAB6;
  }

  footer h1 {
    color: #00AAB6;
    font-size: 4rem;
  }

  #acm-footer-logo {
    width: 280px;
    margin-bottom: 1rem;
  }



  .socials i {
    font-size: 60px;
    margin: 0 2rem;
  }

  .footer-column h1 {
    font-size: 1.9rem;
    width: 40rem;
    color: #00AAB6;
    text-align: center;
    font-weight: 400;
  }

  .socials h1 {
    font-size: 2.25rem;
  }

  .footer-logo-text h1:nth-child(2) {
    font-size: 1.5rem;
  }

  #copyright {
    height: 10rem;
  }

  #copyright span {
    color: #008493;
    margin-bottom: 5px;
    font-size: 1.7rem;
  }
}